body {
  text-align: center;
  background-color: #283149;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  margin: 0
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.a {
  background: url(../images/crash.png);
}

.s {
  background: url(../images/kick.png);
}

.d {
  background: url(../images/snare.png);
}

.h {
  background: url(../images/tom1.png);
}

.j {
  background: url(../images/tom2.png);
}

.k {
  background: url(../images/tom3.png);
}

.l {
  background: url(../images/tom4.png);
}

.set {
  margin: 3% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 4rem;
  font-family: 'Arvo', cursive;
  font-weight: 900;
  color: #283149;
  text-shadow: 2px 3px 10px #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  transition: transform .3s;
}

.drum:hover {
  transform: scale(1.1);
}

.red {
  color: red;
}